/velocity.log
/node_modules
/npm-debug.log
/.directory
/.ant-targets-build.xml
WebContent/WEB-INF/classes/
.idea/
/out/
*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/

/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
/WebContent/app/lib/angular-slide-menu/node_modules/
/WebContent/old/*
/classes
*.class

WebContent/WEB-INF/lib
${env.CATALINA_HOME}

*.iml
module_pondms.xml

TEXT_FILES/fully-scrapped-hotels/**/*
TEXT_FILES/.directory
WebDraft/**/*
