<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:p="http://www.springframework.org/schema/p"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
            http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			">



	<bean class="ir.viratech.commons.user_verification.core.UserSmsVerificationManager" />
    <bean class="ir.viratech.commons.user_verification.core.SmsManager" />

    <bean class="ir.viratech.commons.user_verification.model.verification_code_instance.logic.VerificationCodeInstanceMgr" />
    <bean class="ir.viratech.commons.user_verification.model.verification_code_instance.dao.VerificationCodeInstanceDAO" />


    <bean class="ir.viratech.pond_ms.core.user_verification.OtpSmsTokenValidatorImpl" />
</beans>