<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.springframework.org/schema/beans"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			" >

	<import resource="applicationContext-core.xml"/>
	<import resource="applicationContext-my.xml"/>
	<import resource="applicationContext-persistence.xml"/>
	<import resource="applicationContext-cm.xml"/>
	<import resource="applicationContext-event-log.xml"/>
	<import resource="applicationContext-user-verification.xml"/>
	<import resource="applicationContext-mongo.xml"/>
</beans>