<div class="panel panel-default">
	<div class="panel-heading">تغییر رمز عبور</div>
	<div class="panel-body">
		<div class="col-sm-8 col-sm-offset-2">
			<form name="PasswordForm" novalidate>
				<div class="row rowForm" ng-class="{'has-error':PasswordForm.current.$invalid && Data.validationClicked}">
					<label class="col-sm-3 text-left">رمز عبور فعلی</label>
					<div class="col-sm-6">
						<input type="password" class="form-control" name="current" required
							ng-model="Data.sendData.oldPassword">
					</div>
				</div>
				<div class="row rowForm" ng-class="{'has-error':PasswordForm.new.$invalid && Data.validationClicked}">
					<label class="col-sm-3 text-left">رمز عبور جدید</label>
					<div class="col-sm-6">
						<input type="password" class="form-control" name="new" required
							ng-model="Data.sendData.newPassword">
					</div>
				</div>
				<div class="row rowForm" ng-class="{'has-error':PasswordForm.repeat.$invalid && Data.validationClicked}">
					<label class="col-sm-3 text-left">تکرار رمز عبور جدید</label>
					<div class="col-sm-6">
						<input type="password" class="form-control" name="repeat" required
							ng-model="Data.repeatPassword">
					</div>
				</div>
				<div class="row rowForm">
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
						<label class="text-error" ng-show="Data.error">{{Data.message}}</label>
						<a ng-click="Func.onChangePasswordClick()"
							class="btn btn-danger col-sm-12">
							تغییر رمز عبور
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>