<div class="col-sm-12">
	<div class="panel panel-default panel-page-header">
		<div class="panel-heading">مدیریت پورتال‌ها</div>
		<div class="panel-body">
			<div class="col-md-8" access-checker="API_LIST_PORTAL">
				<div class="panel panel-default">
					<div class="panel-body">
						<vt-search control-fn="Controller.portalSearchController"></vt-search>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<vt-grid control-fn="Controller.portalListController"></vt-grid>
					</div>
				</div>
			</div>
			
			<div class="col-md-4" access-checker="API_VIEW_PORTAL" 
				ng-hide="Data.searchMode=='advanced'">
				<div class="panel panel-default">
					<div class="panel-body panel-management">
						<div class="col-sm-12">
							<a class="btn btn-sm btn-default btn-text"
								access-checker="API_ADD_PORTAL"
								ng-show="true" type="button"
								ng-click="Func.onAddportalClick()" ng-disabled="Data.mode=='add'" ng-bind="'CREATE'|EnToFaButton"></a>
							<a class="btn btn-sm btn-primary btn-text"
								access-checker="API_EDIT_PORTAL"
								ng-show="Data.selectedportal.organization.uid && Data.mode!='edit'" type="button"
								ng-click="Func.onEditportalClick()" ng-disabled="" ng-bind="'EDIT'|EnToFaButton"></a>
							<a class="btn btn-sm btn-success btn-text"
								access-checker="API_ADD_PORTAL"
								ng-show="Data.mode=='add'" type="button"
								ng-click="Func.onSaveportalClick()" ng-bind="'SAVE'|EnToFaButton"
								ng-disabled="portalForm.$invalid && Data.validationClicked"></a>
							<a class="btn btn-sm btn-success btn-text"
								access-checker="API_EDIT_PORTAL"
								ng-show="Data.mode=='edit'" type="button"
								ng-click="Func.onUpdateportalClick()" ng-bind="'UPDATE'|EnToFaButton"
								ng-disabled="portalForm.$invalid && Data.validationClicked"></a>
							<a class="btn btn-sm btn-warning btn-text"
								ng-show="Data.mode=='edit' || Data.mode=='add'" type="button"
								ng-click="Func.onCancelClick()" ng-disabled="" ng-bind="'CANCEL'|EnToFaButton"></a>
							<a class="btn btn-sm btn-danger btn-text"
								access-checker="API_DELETE_PORTAL"
								ng-show="Data.selectedportal.organization.uid && Data.mode!='edit'" type="button"
								ng-click="Func.onDeleteportalClick()" ng-disabled="" ng-bind="'DELETE'|EnToFaButton"></a>
							<a class="btn btn-sm btn-default pull-left"
								ng-show="true" type="button"
								ng-click="Func.onChangeSearchModeClick('advanced')">
								<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="panel panel-default" ng-show="Data.selectedportal.organization.uid || Data.mode=='add'">
					<div class="panel-body">
						<form name="portalForm" role="form" novalidate>
							
							<div class="row rowForm">
								<label class="col-sm-5">نام سازمان</label>
								<div ng-show="Data.mode=='view'" class="col-sm-7">
									{{Data.selectedportal.organization.name|EnToFaNumber}}
								</div>
								<div ng-show="Data.mode!='view'" class="col-sm-7">
									<input type="text" class="form-control" name="orgName" 
										ng-model="Data.selectedportal.organization.name">
								</div>
							</div>
							<div class="row rowForm">
								<label class="col-sm-5">زیردامنه سازمان</label>
								<div ng-show="Data.mode=='view'" class="col-sm-7">
									{{Data.selectedportal.organization.code|EnToFaNumber}}
								</div>
								<div ng-show="Data.mode!='view'" class="col-sm-7">
									<input type="text" class="form-control" name="orgCode" 
										ng-model="Data.selectedportal.organization.code">
								</div>
							</div>
							
							<hr>
							
							<div class="row rowForm">
								<label class="col-sm-5">نام نقشه</label>
								<div ng-show="Data.mode=='view'" class="col-sm-7">
									{{Data.selectedportal.map.title|EnToFaNumber}}
								</div>
								<div ng-show="Data.mode!='view'" class="col-sm-7">
									<input type="text" class="form-control" name="mapTitle" 
										ng-model="Data.selectedportal.map.title">
								</div>
							</div>
							<div class="row rowForm">
								<label class="col-sm-5">کمینه بزرگنمایی</label>
								<div ng-show="Data.mode=='view'" class="col-sm-7">
									{{Data.selectedportal.map.minZoom|EnToFaNumber}}
								</div>
								<div ng-show="Data.mode!='view'" class="col-sm-7">
									<input type="number" class="form-control" name="mapMinZoom" 
										ng-model="Data.selectedportal.map.minZoom">
								</div>
							</div>
							<div class="row rowForm">
								<label class="col-sm-5">بیشینه بزرگنمایی</label>
								<div ng-show="Data.mode=='view'" class="col-sm-7">
									{{Data.selectedportal.map.maxZoom|EnToFaNumber}}
								</div>
								<div ng-show="Data.mode!='view'" class="col-sm-7">
									<input type="number" class="form-control" name="mapMaxZoom" 
										ng-model="Data.selectedportal.map.maxZoom">
								</div>
							</div>
							<div class="row rowForm">
								<label class="col-sm-5">بزرگنمایی پیش‌فرض</label>
								<div ng-show="Data.mode=='view'" class="col-sm-7">
									{{Data.selectedportal.map.defaultZoom|EnToFaNumber}}
								</div>
								<div ng-show="Data.mode!='view'" class="col-sm-7">
									<input type="number" class="form-control" name="mapDefaultZoom" 
										ng-model="Data.selectedportal.map.defaultZoom">
								</div>
							</div>
							<div class="row rowForm">
								<label class="col-sm-5">توضیحات نقشه</label>
								<div ng-show="Data.mode=='view'" class="col-sm-7">
									<p ng-bind="Data.selectedportal.map.description"></p>
								</div>
								<div ng-show="Data.mode!='view'" class="col-sm-7">
									<textarea class="form-control" name="description" 
										ng-model="Data.selectedportal.map.description"></textarea>
								</div>
							</div>
							
							<div class="col-sm-12">
								<div id="map"></div>
							</div>
							
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4" access-checker="API_VIEW_PORTAL" ng-show="Data.searchMode=='advanced'">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-sm-12">
							<vt-search control-fn="Controller.portalAdvancedSearchController"></vt-search>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>