<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://www.springframework.org/schema/beans" 
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd" >
	
	<import resource="classpath:ir/viratech/pond_ms/core/spring/applicationContext-all.xml"/>
	<import resource="applicationContext-web-api.xml"/>
	<import resource="applicationContext-web-security.xml"/>
	<import resource="applicationContext-web-security-local.xml"/>
	<import resource="applicationContext-web-security-cas.xml"/>
	
</beans>
